.tags-container {
  margin-top: 2rem;

  position: sticky;
  top: 2rem;

  padding: 0.5rem;
}

.chips {
  height: 2rem;
  background: rgb(170, 238, 255);

  font-size: 1rem;
  font-family: "KoHo", sans-serif;
  font-weight: 700;
  color: rgb(80, 80, 80);

  cursor: pointer;
}

.see-more {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;

  cursor: pointer;
}

.see-more:hover > .see-more-text {
  opacity: 0.7;
}

.plus-icon {
  width: 1.125rem;
  height: 1.125rem;
}

.see-more-text {
  margin-left: 0.5rem;
  font-size: 1.125rem;
  color: #6e2fad;
  transition: all 0.3s ease-in-out;
}
