.tags-container {
  margin-top: 2rem;

  position: sticky;
  top: 2rem;

  padding: 0.5rem;
}

.chips {
  height: 2rem;
  background: rgb(170, 238, 255);

  font-size: 1rem;
  font-family: "KoHo", sans-serif;
  font-weight: 700;
  color: rgb(80, 80, 80);

  cursor: pointer;
}

.see-more {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;

  cursor: pointer;
}

.see-more:hover > .see-more-text {
  opacity: 0.7;
}

.plus-icon {
  width: 1.125rem;
  height: 1.125rem;
}

.see-more-text {
  margin-left: 0.5rem;
  font-size: 1.125rem;
  color: #6e2fad;
  transition: all 0.3s ease-in-out;
}

/* The Modal (background) */
.modal-hidden {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-open {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  font-family: "KoHo", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: #6e2fad;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: rgb(205, 245, 255);
  color: #6e2fad;
}

.modal-body {
  padding: 1rem 1rem;
}

.modal-footer {
  padding: 2px 16px;
  background-color: rgb(205, 245, 255);
  color: rgb(205, 245, 255);
}
