<div class="tags-container">
  <mat-chip-list aria-label="Filter tags">
    <mat-chip
      class="chips"
      *ngFor="let tag of tags"
      [value]="tag.description"
      >{{ tag.description }}</mat-chip
    >
  </mat-chip-list>
  <div class="see-more" (click)="openModal()">
    <img class="plus-icon" src="assets/plus.svg" alt="Plus icon" />
    <span class="see-more-text">Ver mais</span>
  </div>
</div>

<!-- Modal content -->
<div id="myModal" class="{{ modalClass }}">
  <div class="modal-content">
    <div class="modal-header">
      <span (click)="closeModal()" class="close">&times;</span>
      <h2>Mais Tags</h2>
    </div>
    <div class="modal-body">
      <mat-chip-list aria-label="Filter tags" class="chips-div">
        <mat-chip
          class="chips"
          *ngFor="let tag of tags"
          [value]="tag.description"
          >{{ tag.description }}</mat-chip
        >
      </mat-chip-list>
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>
</div>
