<nav class="navbar">
    <img class="back-arrow clickable" src="./assets/back-arrow.svg" alt="" />
    <img class="logo clickable" src="./assets/logo.svg" alt="" />
    <img class="logout clickable" src="./assets/logout.svg" alt="" />
</nav>



<h1 id="título">Publicação de Posts</h1>
<br>

<div class="campo">
    <br><label><strong>Digite aqui o seu texto: </strong>
    </label><br>
    <textarea row="8" class="txtarea">
  </textarea>
  
    <div class="icones">
        <img class="anexar" src="./assets/anexar.svg" alt="" />
        <img class="send-button" src="./assets/send-button.svg" alt="" />
      </div>

</div>