
<nav class="navbar">
    <img class="back-arrow clickable" src="./assets/back-arrow.svg" alt="" />
    <img class="logo clickable" src="./assets/logo.svg" alt="" />
    <img class="logout clickable" src="./assets/logout.svg" alt="" />
</nav>

<h1>Criação de Posts</h1>
<br>
<div class="campo">
    <label><strong> Título: </strong></label>
    <br><strong><textarea row="8" class="txtarea1"></textarea></strong>
  
    <br><label><strong> Artigo: </strong></label>
    <br><strong><textarea row="8" class="txtarea"></textarea></strong>
    
  <div class="icones">
        
        <strong><input type="file" name=" Image"/></strong>
        <form action="home">
          <strong><input type="submit" value="  Concluir  " /></strong>
        </form>
  
  </div>

</div>
