<app-nav-bar></app-nav-bar>
<main class="config-container">
    <div class="user-card">
        <img src="assets/fotoDoPerfil.png" alt="" class="user-image" />
        <p class="user-name">{{ userName }}</p>
        <div class="user-info-title">
            <label>Informações</label> 
         </div>
        <div class="user-info">
            <textarea class="informacoes" maxlength="50">matenrique@gmail.com</textarea>
        </div>
        <div class="user-bio-title">
           <label>Biografia</label> 
        </div>
        <div class="user-bio"> 
            <textarea class="biografia" maxlength="250">Cursando Ciencias da Computação na UNI-BH</textarea>
        </div>
    </div>

    <div class="botao-apagar-perfil">
        <button id="botao" (click)='telalogin()'>Apagar meu perfil</button>

        <button id="botao" (click)='telalogin()'>Sair do perfil</button>

        <button id="botao" (click)='meuperfil()'>Salvar Alterações</button>

        <button id="botao" (click)='meuperfil()'>Cancelar Alterações</button>
    </div>
</main>
