.config-container {
    width: 100%;
    height: 90vh;
  
    display: grid;
    grid-template-columns: 20% auto 20%;
  }
  
  .user-card {
      height: 80vh;
      width: 90%;
  
      display: flex;
      flex-direction: column;
    
      margin: 2rem auto;
    
      position: sticky;
      top: 2rem;
    
      background: rgba(134, 231, 255, 0.4);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(0px);
      -webkit-backdrop-filter: blur(0px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
    
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    
    .user-card:hover {
      transform: translateY(-0.5rem);
    
      background: rgb(205, 245, 255);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(0px);
      -webkit-backdrop-filter: blur(0px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
    
    .user-image {
      height: 22vh;
      width: 60%;
      border-radius: 50%;
      margin: 2rem auto;
    }
    
    .user-name {
      font-size: 1.2rem;
      text-align: center;
      font-family: "KoHo", sans-serif;
      padding: 0.5rem;
    }
  
    .user-info-title{
      width: 22rem;
      height: 22px;
      margin-left: -25.5%;
  
      font-size: 1.2rem;
      text-align: center;
      font-family: "KoHo", sans-serif
    }
  
    .user-info{
      width: 22rem;
      height: 22px;
      margin-left: -25.5%;
      margin-top: 5%;
  
      font-size: 1.2rem;
      text-align: center;
      font-family: "KoHo", sans-serif;
    }

    .informacoes{
      resize: none;
      background: none;
      text-align: center;
    }
  
    .user-bio-title{
      width: 22rem;
      height: 350px;
      margin-left: -25.5%;
      margin-top: 15%;
  
      font-size: 1.2rem;
      text-align: center;
      font-family: "KoHo", sans-serif;
    }
  
    .user-bio{
      width: 22rem;
      height: 350px;
      margin-left: -25.5%;
      margin-top: -25%;
  
      font-size: 1.2rem;
      text-align: center;
      font-family: "KoHo", sans-serif;
    }

    .biografia{
      resize: none;
      background: none;
      text-align: center;
    }

    #botao{
        width: 30%;
        display: block;
        padding: 20px 20px 20px 20px;
        margin-top: 5%;
        position: relative;
        left: 50%;
        top: 10%;
        border: 1px solid #000000;
        border-radius: 10px;
        font-weight: bold;
        font-size: 15px;
        color: black;
        background-color: rgba(134, 231, 255, 0.4);
      }
