.navbar {
  height: 10vh;
  width: 100vw;

  background: rgb(207, 220, 250);
  background: linear-gradient(
    21deg,
    rgba(207, 220, 250, 1) 0%,
    rgba(197, 249, 255, 1) 52%,
    rgba(201, 255, 255, 1) 87%
  );

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clickable {
  cursor: pointer;
}

.back-arrow {
  height: 2rem;
  width: 2rem;

  margin-left: 1.5rem;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.logout {
  height: 5rem;
  width: 2rem;

  margin-right: 1.5rem;
}
