.post-card {
  height: 30vh;
  width: 95%;
  margin: 2rem auto 3rem;

  border-radius: 15px;
  background: #f5f5f5;
  box-shadow: 5px 5px 12px #bebebe, -5px -5px 12px #ffffff;

  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.post-card:hover {
  border-radius: 15px;
  background: #f5f5f5;
  box-shadow: 5px 5px 0px #777777, -5px -5px 0px #ffffff;

  transform: translateY(-0.3rem);
}
